.container { 
    /* position: relative;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);   
    width: 80%;
    padding: 20px 0px; */
    text-align: center;
    /* max-width: 960px; */
    border: 24px solid black;
    border-radius: 20px 20px;


}
.logo-image {
    position: relative;
    width: 200px;
    height: 150px;
    margin: auto;
    padding: 10px 10px;
    text-align: center;
    /* border: 1px solid black; */
}

input[type="file"] {
    text-align: center;
    display: none;
}
label {
    visibility:show;
}

.video_update{
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 30px;
    text-align: center;
    border: 1px solid black;
}
.video_update  h3  {
    margin-top: 20%;
}
.tubnail_video  {
    position: relative;
    padding: 10px 0px;
    /* border: 1px solid black; */
    margin-top: 48px;

} 

/* show case main image sections */
.main_contents_image {
    position: relative;
    width: 100%;
    height: 300px;

    /* border: 1px solid black; */
}
.main_contents_image > img {
    width: 100%;
    height: 300px;
}


.image_slider {
    position: relative;
    min-width: 960px;
    height: 300px;
    margin-top: 79px;
    padding-top: 50px;
    /* border: 1px solid black;    */
}

.image_slider > div img {
    margin: auto;
    width: 100%;
    height: 300px;
    background-image: cover;
}

.image_slider_container {
    position: relative;
    display: flex;
    margin-top: 130px;
    
}
.image_slider_container  > div {

    margin: 10px auto;
    padding: 10px 10px;
    width: 160px;
    height: 160px;
    border: 1px solid  black;

} 


input {
    padding: 10px 10px;
    margin: 5px 5px 5px 5px;
}