.container { 
    position: relative;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);   
    width: 80%;
    padding: 20px 0px;
    text-align: center;
    max-width: 960px;
    border: 24px solid black;
    border-radius: 20px 20px;


}
.logo-image {
    position: relative;
    width: 200px;
    height: 150px;
    margin: auto;
    padding: 10px 10px;
    text-align: center;
    /* border: 1px solid black; */
}

input[type="file"] {
    text-align: center;
    display: none;
}
label {
    visibility:show;
}

.video_update{
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 30px;
    text-align: center;
    border: 1px solid black;
}
.video_update  h3  {
    margin-top: 20%;
}
.tubnail_video  {
    position: relative;
    display: flex;
    padding: 40px 40px;
    border: 1px solid black;

} 
.tubnail_video > div {
    width: 150px;
    height: 150px;
    margin: auto;
    padding: 50px  10px;
    border: 1px solid black;

} 
/* show case main image sections */
.main_contents_image {
    position: relative;
    width: 100%;
    height: 300px;
    padding: 60px 10px;
    border: 1px solid black;
}

.image_slider {
    position: relative;
    width: 100%;
    height: 160px;
    border: 1px solid black;   
}
.image_slider_container {
    position: relative;
    display: flex;
    
}
.image_slider_container  > div {

    margin: 10px auto;
    padding: 10px 10px;
    width: 160px;
    height: 160px;
    border: 1px solid  black;

} 

